.main-container{
    display: flex;
}
.login-page{
    align-items: center; /*Align items vertically*/
}
img{
    max-width: 100%;
}
.login-bg{
    flex-basis: 75%;
    height: 100vh;
   /* background: url(Front.jpeg);*/
}
.login-form{
    flex-basis: 25%;
    padding: 20px;
}
.form-field{
    margin-top: 15px;
}
.form-field input{
    width: 100%;
    padding: 16px 2px 16px 10px;
    font-size: 14px;
    border: 1px solid #aaaaaa;
}
.app-Button{
    width:100%;
    padding:16px; 
    font-size: 16px;
    color: white;
    background: #bd031a;
}